<a href="https://colab.research.google.com/github/kutenik7/Adv_Python/blob/main/AdPy_Module_3_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [20]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

In [21]:
soup = BeautifulSoup(response, 'html.parser')

In [22]:
ISBN = []
title = []
author = []
language = []
pages = []
topic = []
price = []

for book in soup.find('table').find_all('tr', class_='book'):
  ISBN.append(book.find_all('td')[0].text)
  title.append(book.find_all('td')[1].text)
  author.append(book.find_all('td')[2].text)
  language.append(book.find_all('td')[3].text)
  pages.append(book.find_all('td')[4].text)
  topic.append(book.find_all('td')[5].text)
  price.append(book.find_all('td')[6].text)

df = pd.DataFrame({
    'ISBN':ISBN,
    'title':title,
    'author':author,
    'language':language,
    'pages':pages,
    'topic':topic,
    'price':price
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ISBN      15 non-null     object
 1   title     15 non-null     object
 2   author    15 non-null     object
 3   language  15 non-null     object
 4   pages     15 non-null     object
 5   topic     15 non-null     object
 6   price     15 non-null     object
dtypes: object(7)
memory usage: 972.0+ bytes

In [24]:
df.groupby('author').count()

                     ISBN  title  language  pages  topic  price
author
Benjamin Barkley        2      2         2      2      2      2
Celeste Nightshade      1      1         1      1      1      1
Isadora Harrington      1      1         1      1      1      1
Jasper Sterling         2      2         2      2      2      2
Maximilian Thorne       1      1         1      1      1      1
Oliver Obedience        1      1         1      1      1      1
Penelope Wainwright     4      4         4      4      4      4
Ruby Ruffington         1      1         1      1      1      1
Seraphina Montague      1      1         1      1      1      1
Sophie Shepherd         1      1         1      1      1      1

In [26]:
df['topic'].value_counts()

topic
Cats    10
Dogs     5
Name: count, dtype: int64

In [34]:
df['price'] = df['price'].astype(str).str.replace('$', '', regex=False)
df['price'] = pd.to_numeric(df['price'])
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ISBN      15 non-null     object
 1   title     15 non-null     object
 2   author    15 non-null     object
 3   language  15 non-null     object
 4   pages     15 non-null     object
 5   topic     15 non-null     object
 6   price     15 non-null     float64
dtypes: float64(1), object(6)
memory usage: 972.0+ bytes

None

In [35]:
df.groupby('topic')['price'].mean()

topic
Cats    17.79
Dogs    26.59
Name: price, dtype: float64

In [36]:
df['pages'] = pd.to_numeric(df['pages'])
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ISBN      15 non-null     object
 1   title     15 non-null     object
 2   author    15 non-null     object
 3   language  15 non-null     object
 4   pages     15 non-null     int64
 5   topic     15 non-null     object
 6   price     15 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 972.0+ bytes

None

In [39]:
df.groupby('topic')['pages'].mean()

topic
Cats    238.4
Dogs    256.0
Name: pages, dtype: float64

In [ ]:
response2 = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text
soup2 = BeautifulSoup(response2, 'html.parser')

In [4]:
soup2.find('body').find_all('div', class_='w3-container')

[<div class="w3-container">
 <h1>Welcome to Bob's Bookstore</h1>
 <p>Discover a world of literature at Bob's Bookstore. We offer a wide range of books to suit every reader's taste.</p>
 </div>,
 <div class="w3-container" style="max-width: 1200px;margin: auto;">
 <h2>Featured Books</h2>
 <div class="w3-row-padding">
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/4nn.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>Whiskers of Wisdom: Tales from Feline Philosophers</h3>
 <p>Penelope Wainwright</p>
 </div>
 </div>
 </div>
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/59d.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>Paws and Prejudice: A Kitty Love Story</h3>
 <p>Jasper Sterling</p>
 </div>
 </div>
 </div>
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/ccf.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>The Cat Detective Chronicles: Claws of Mystery</h3>
 <p>Seraphina Montague</p>
 </div>
 </div>
 </div>
 </div>
 <div class="w3-row-padding" style="margin-top: 3rem;">
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/a3o.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>Meowtopia: A Journey to the Land of Talking Cats</h3>
 <p>Maximilian Thorne</p>
 </div>
 </div>
 </div>
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/8mf.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>The Secret Lives of Cat Adventurer</h3>
 <p>Isadora Harrington</p>
 </div>
 </div>
 </div>
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/5hs.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>Tales of Tail-Twitching Tabbies in Tanzania</h3>
 <p>Ignatius Blackwood</p>
 </div>
 </div>
 </div>
 </div>
 <div class="w3-row-padding" style="margin-top: 3rem;">
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/41Fe8q9vU.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>Feline Fantasy: Adventures in the Whisker-Wild</h3>
 <p>Celeste Nightshade</p>
 </div>
 </div>
 </div>
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/bbi.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>Catnap Chronicles: Dreams of the Purring Realm</h3>
 <p>Seraphina Montague</p>
 </div>
 </div>
 </div>
 <div class="w3-col s12 m6 l4">
 <div class="w3-card-4">
 <img src="https://cdn2.thecatapi.com/images/cqk.jpg" style="width:100%;height:12rem"/>
 <div class="w3-container">
 <h3>The Whisker Whisperer's Guide to Cat Communication</h3>
 <p>Atticus Hawthorne</p>
 </div>
 </div>
 </div>
 </div>
 </div>,
 <div class="w3-container">
 <h3>Whiskers of Wisdom: Tales from Feline Philosophers</h3>
 <p>Penelope Wainwright</p>
 </div>,
 <div class="w3-container">
 <h3>Paws and Prejudice: A Kitty Love Story</h3>
 <p>Jasper Sterling</p>
 </div>,
 <div class="w3-container">
 <h3>The Cat Detective Chronicles: Claws of Mystery</h3>
 <p>Seraphina Montague</p>
 </div>,
 <div class="w3-container">
 <h3>Meowtopia: A Journey to the Land of Talking Cats</h3>
 <p>Maximilian Thorne</p>
 </div>,
 <div class="w3-container">
 <h3>The Secret Lives of Cat Adventurer</h3>
 <p>Isadora Harrington</p>
 </div>,
 <div class="w3-container">
 <h3>Tales of Tail-Twitching Tabbies in Tanzania</h3>
 <p>Ignatius Blackwood</p>
 </div>,
 <div class="w3-container">
 <h3>Feline Fantasy: Adventures in the Whisker-Wild</h3>
 <p>Celeste Nightshade</p>
 </div>,
 <div class="w3-container">
 <h3>Catnap Chronicles: Dreams of the Purring Realm</h3>
 <p>Seraphina Montague</p>
 </div>,
 <div class="w3-container">
 <h3>The Whisker Whisperer's Guide to Cat Communication</h3>
 <p>Atticus Hawthorne</p>
 </div>]

In [14]:
title = []
author = []
for book in soup2.find('body').find_all('div', class_='w3-container'):
    title_tag = book.find('h3')
    author_tag = book.find('p')
    title.append(title_tag.get_text(strip=True) if title_tag else None)
    author.append(author_tag.get_text(strip=True) if author_tag else None)

df = pd.DataFrame({
    'title':title,
    'author':author
})
df['title'] = df['title'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.strip()
df['author'] = df['author'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.strip()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10 non-null     object
 1   author  11 non-null     object
dtypes: object(2)
memory usage: 308.0+ bytes