<a href="https://colab.research.google.com/github/kutenik7/Adv_Python/blob/main/Module_3_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [5]:
soup = BeautifulSoup(response, 'html.parser')

In [18]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
  name.append(employee.find_all('td')[0].text)
  name.append(employee.find_all('td')[1].text)
  name.append(employee.find_all('td')[2].text)

In [24]:
df = pd.DataFrame({
    'id':id,
    'name':name,
    'age':age
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [27]:
df['age'] = pd.to_numeric(df['age'])
df['age'].mean()

np.float64(29.875)

In [30]:
df['age'].std()

3.563204817496262